.gallery {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev, .swiper-button-next {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    background-color: #2db6b6;

    &::after {
      color: white;
      font-size: 12px !important;
    }
  }
}

.hero__carousel {
  /* height: 30vh; */
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: 0;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      padding: 0 14px;
    }
  }
  
  .swiper-pagination {
    position: static;
  }
  
  .swiper-pagination-bullet {
    width: 62px !important;
    height: 10px !important;
    border-radius: 5px !important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #B7B7B7 !important;
  }
  .swiper-pagination-bullet-active {
    background: #2db6b6 !important;
  }

  .swiper-button-disabled {
    background-color: gray;
    cursor: not-allowed;
  }

  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #2db6b6;
    display: none;

    &::after {
      color: white;
      font-size: 12px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}